/***** Folhas de estilos do template do site *****/

/* Reset do CSS */

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

header,
nav,
main,
article,
aside,
footer {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0.8rem 0;
}

a {
  color: steelblue;
  text-decoration: none;
  transition: 0.2s;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

/* Background */

body {
  background-image: url(/img/fundo01.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-x: left;
  background-color: rgb(224, 224, 224);
}

/* Enquadramento da página */

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 280px;
  max-width: 960px;
  margin: auto;
  /* Sticky footer */
  display: flex;
  flex-direction: column;
}

/* Cabeçalho */

header {
  display: flex;
  align-items: center;
  color: #000;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.3rem;
}

header img {
  display: block;
  width: 90px;
  height: 90px;
  margin-right: 1rem;
}

header h1 {
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.15rem;
  color: white;
  -webkit-text-stroke: 2px black;
}

header small {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.8rem;
  -webkit-text-stroke: 0;
  color: black;
}

/* Menu principal */
nav {
  background: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

nav a {
  text-align: center;
  display: block;
  padding: 0.7rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav span {
  padding-top: 0.2rem;
}

nav a:hover {
  color: #000;
  background: #fff;
  text-decoration: none;
}

nav a:first-child {
  margin-right: auto;
}

nav i {
  font-size: 2rem;
}

@media (min-width: 576px) {
  nav a {
    flex-direction: row;
  }

  nav i {
    font-size: 1.4rem;
  }

  nav span {
    padding: 0;
    padding-left: 0.5rem;
  }
}

/* Conteúdo */

main {
  background: rgba(255, 255, 255, 0.8);
}

main article {
  padding: 0 1rem;
}

main aside {
  padding: 0 0.6rem;
  border-top: 3px dotted grey;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;
}

@media (min-width: 768px) {
  main {
    display: flex;
    justify-content: space-between;
  }
  main article {
    flex-grow: 2;
  }
  main aside {
    border: none;
    border-left: 3px dotted grey;
    min-width: 200px;
    max-width: 200px;
  }
}

/* Rodapé */

footer {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #000;
  background: #fff;
  text-decoration: none;
}

footer .license {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

footer .license a {
  padding: 0.5rem;
}

footer .license a i {
  font-size: 1.5rem;
}

footer .license div {
  font-size: 0.8rem;
}

footer .menus {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem 0;
}

footer .menus a {
  display: block;
  padding: 0.4rem 0.2rem;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  footer .license div {
    font-size: 1rem;
  }
}

/***** Estilos de uso geral *****/

/* Imagens responsivas */
img.flush {
  max-width: 100%;
  height: auto;
}
