/* Estilos da index */

.article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}

.article img {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
}

.article h4 {
    margin: 0;
    margin-bottom: .5rem;
}

.article:nth-child(even) {
    background: rgba(0,0,0,.2);
}

.article:nth-child(odd) {
    background: rgba(0,0,0,.1);
}

.article:hover {
    background: rgba(0,0,0,.3);
    cursor: pointer;
}